.ChangeBtnState {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 4rem auto;
    padding: 20px;
    border: 1px solid #c6c6c6;
    font-weight: bold;
  }
  
h3 {
  text-align: center;
  justify-content: space-between;
  font-size: clamp(0.5rem, 2.5vw, 3.0rem);
}

.doctor {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
}

.result {
  margin-top: 1rem;
}

.gen-list {
  margin: 0 auto;
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}


.doctors-list,
.total {
  width: 60%;
  margin: 0 auto;
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}

.doctors-list {
  list-style: none;
  padding: 0;
}

.doctors-list li {
  margin-bottom: 0.1rem;
}

.doctors-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.doctors-list li:last-child {
  border-top: 1px solid rgb(255, 255, 255);
  margin-top: 1rem;
  padding-top: 1rem;
}

.doctors-list-item label {
  vertical-align: text-bottom;
  margin-left: 5.5rem;
}

.left-section {
  text-align: left;
  justify-content: left;
}

.center-section {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.right-section {
  text-align: right;
  align-items: right;
  justify-content: right;
}

.alignleft {
  float:left;
}

.alignright {
  float:right;
}

.total {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .doctors-list,
  .total {
    width: 90%;
  }
}

.checkbox-wrapper {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 20px;
}

.checkbox-wrapper:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.checkbox-wrapper label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

label + p {
  color: grey;
}


.checkbox-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #09369B;
  outline: none;
  cursor: pointer;
}

input:checked {
  background-color: #09369B;
  position: relative;
}

input:checked::before {
  content: "\2714";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

.checkbox-wrapper input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkbox-wrapper input[type="checkbox"]:disabled + span {
  color: #c0c0c0;
}

.checkbox-wrapper input[type="checkbox"]:hover {
  box-shadow: 0 0 20px #09369B;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex:33%;
  max-width: 33%;
  padding: 0 4px;
}

.column > span {
  margin-top: 8px;
  vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c5cee2;
  align-items: stretch;
}

.flex-container > span {
  background-color: #fff;
  margin:5px;
  width: 30.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
.flex-container > div {
  background-color: #fff;
  margin:5px;
  width: 8.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

.flex-containerex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c5cee2;
  align-items: stretch;
}
.flex-containerex > span {
  background-color: #fff;
  margin:5px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

.flex-containerdr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c5cee2;
  align-items: stretch;
}

.flex-containerdr > span {
  background-color: #fff;
  margin:5px;
  width: 45.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
.flex-containerdr > div {
  background-color: #fff;
  margin:5px;
  width: 8.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

.btnstyle {
  background: #1f1f1f;
  padding: 10px 15px;
  border-radius: 40px;
  border-radius: "none";
  color: #fff;
  font-size: clamp(0.5rem, 2vw, 2rem);
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s !important;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 10px;
  text-align: center;
}

.btnstyle:hover {
  cursor: pointer;
  background: #b4b4b4;
  transition: all 0.4s ease-out;
}

.sixty {
  width: 60%;
}


.search {
  width: 60%;
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.search:focus-within {
  box-shadow: 2px 2px 5px #000;
}

.search__button,
.search__input {
  background-color: #fff;
  border: none;
  outline: none;
}

.search__input {
  padding: 1em;
  width: 85%;
}

.search__button {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
}

@media (min-width: 576px) {
  .search {
    font-size: 1.5rem;
  }

  .search__button {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }
}

div.scroll {
  margin:4px, 4px;
  padding:4px 4px;
  background-color: #c5cee2;
  width: 100%;
  height: 50rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  justify-content: center;
  align-self: center;
}