/* Reference 6 - taken from https://github.com/briancodex/react-form-v1/blob/master/src/Form.css */

.form-container {
  margin: 100px auto;
  width: 90vw;
  height: 64vh;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-content-left {
  background: linear-gradient(310deg, rgba(8, 8, 8, 0.9) 70%, #09369b 100%);
  border-radius: 10px 0 0 10px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: linear-gradient(50deg, rgba(8, 8, 8, 0.9) 70%, #09369b 100%);
}

.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 2rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 15px;
  background: #09369b;
  font-size: clamp(0.5rem, 2vw, 2rem);
  color: #fff;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s !important;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100px;
}

.form-input-btn:hover {
  cursor: pointer;
  background: #077bf1;
  transition: all 0.4s ease-out;
}

/* End of Reference 6 */
